@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: light ;
    font-family: 'Montserrat Variable', sans-serif;
    min-height: fit-content;
}


body{
    min-height: fit-content;
    overflow: auto;
}